.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 85vh;
  
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      label {
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      input {
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
      }
  
      .image-upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
  
        label.image-label {
          cursor: pointer;
          margin-bottom: 10px;
  
          img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
        }
      }
  
      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
  